### Python ###
__pycache__/
### git ###
.git/
.github/
.gitignore
### IDE ###
.vscode/
### config ###
config.py
### log ###
visited_urls.txt
geckodriver.log
scraper.log
### cookies ###
naver_cookies/
### screenshots ###
login_screenshots/
### kiro ###
.kiro/
